.slideshow {
    width: 900px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .slideshow img {
    float: left;
  }
  
  #prev,
  #next {
    position: absolute;
    z-index: 9999;
    display: block;
    top: 100px;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
  }
  
  #prev {
    left: 0;
    background: url(https://image.ibb.co/jevVLk/prev.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }
  
  #next {
    right: 0;
    background: url(https://image.ibb.co/eGoT6Q/next.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }